# API URLS
API_URL=http://api-local.rankmi.lo:3000/v1
NON_VERSIONED_API_URL=http://api-local.rankmi.lo:3000
LINKS_API=http://api-local.rankmi.lo:3003
MASTER_API=http://api-local.rankmi.lo:3002/api/v1
MASTER_CABLE_URL=wss://api-local.rankmi.lo:3002/cable
ORGANIGRAM_API=http://api-local.rankmi.lo:5002
FEEDBACK_API=http://api-local.rankmi.lo:3004
NEWS_API=http://localhost:5004
CELEBRATIONS_API_URL=
ACKNOWLEDGMENT_API_URL=
ON_DEMAND_PAY_URL=http://api-local.rankmi.lo:3010
SOCIAL_API_URL=http://social-api.rankmi.lo:5000
BASE_URL_GOALS_AND_OBJECTIVES=http://api-local.rankmi.lo:3003/
SIGNATURE_API=http://api-local.rankmi.lo:3009
BENEFITS_API=
CALIBRATION_API=
EMPLOYEE_API=
EMPLOYEE_WS=
PERFORMANCE_RESULTS_API_URL=http://localhost:3009
RANKMI_API=
RANKMI_FORM_API=
REACT_APP_LMS_API=
REACT_APP_MASTER_API=
WALLET_API=
WORKFLOWS_API=

# CUMUL
CUMUL_URL=https://app.us.cumul.io
DASHBOARD_API_URL=https://dashboard-api.rankmi.com
REACT_APP_CUMUL_URL=https://app.us.cumul.io
REACT_APP_DASHBOARD_API_URL=https://dashboard-api.rankmi.com
REACT_APP_DASHBOARD_TOKEN=

# PAYROLL
PAYROLL_API=
PAYROLL_APP=
REACT_APP_PAYROLL_API_URL=
REACT_APP_PRODUCT_NAME=rkm_13

# WORKFLOWS
REACT_APP_MODULE_CODE=rkm_19
REACT_APP_WORKFLOWS_DASHBOARD=
REQUEST_PATH_URL=

# SSLFASTTRACK
SSLFASTTRACK_GOLD_ID=4483
SSLFASTTRACK_ID=2618

# SOCIAL COMPONENT
ALLOW_COMMENT_THREADS=True
SHOW_MENTIONS_ON_SOCIAL=True
SOCIAL_APP_WEBSOCKET=False

# IMAGES / VIDEOS / SLACK OPTIMIZATION
ACKNOWLEDGMENT_APP_IMAGE_OPTIMIZATION=True
CELEBRATIONS_APP_IMAGE_OPTIMIZATION=True
HOME_IMAGE_OPTIMIZATION=True
NEWS_APP_IMAGE_OPTIMIZATION=True
REACT_APP_NEWS_APP_IMAGE_OPTIMIZATION=True
SOCIAL_APP_IMAGE_OPTIMIZATION=True
SOCIAL_APP_SLACK_INTEGRATION=True
SOCIAL_APP_VIDEO_OPTIMIZATION=True
ENABLED_AVATAR_OP_RS=ON
FICIOS_IMAGES_PREFIX=
REACT_APP_FICIOS_BUCKET=emlogos-rankmi

# EXTERNAL APPS
ATS_APP=http://app-local.rankmi.lo:8888
EMPLOYEE_APP=http://app-local.rankmi.lo:3005
ORGANIGRAM_APP=http://app-local.rankmi.lo:9999
LMS_APP=

# TRANSLATIONS
TRANSLATIONS_API=http://localhost:4000
TRANSLATIONS_PASSWORD=a37c7626-3018-4e73-9ea6-0272d410a6b1
TRANSLATIONS_USERNAME=ef21e174-6969-4e72-b2dd-a65e36fabf89

# APP CONFIG
APP_ID=7SkAov0Y8rzk20G4gDtc617jhaFNm18a
DEFAULT_SUBDOMAIN=app-local
APP_HOSTNAME=rankmi.lo:9000
APP_URL=http://app-local.rankmi.lo:9000
ASSET_PATH=https://rankmi-dev.s3.amazonaws.com/
AVATAR_PATH=users/avatars/
DEFAULT_AVATAR_PATH=default/icono-persona-01.png
NODE_ENV=development
ENV=development
LOCALE=es
IMAGES_PATH=/assets
GIPHY_API_KEY=sXpGFDGZs0Dv1mmNFvYaGUvYwKX0PWIh
CUSTOMERIO_KEY=173186279ab890172c79
RECAPTCHA_SITE_KEYM=6LfZCY8UAAAAAJijpO_RKml9_GGF2YpV9fUE-tDH
GAPI_CLIENT_ID=497525904370-ulcp1sler3vevan5lf0gsie2b5pn8qe4.apps.googleusercontent.com
CLOUDFRONT_BASE_URL=https://d2xi1mdc5fr3sy.cloudfront.net/

# AMPLITUDE
AMPLITUDE_KEY=40abdbef43e3a0cef42be8073167342f
LOGGED_IN_IDLE_TIME=1800

# FRESHDESK
FRESHDESK_API_KEY=
FRESHDESK_WIDGET_UUID=

# AUDIT API
AUDIT_API=
AUDIT_API_KEY=
AUDIT_API_SECRET_KEY=

# FIREBASE
FIREBASE_API_KEY=AIzaSyDOx3o16k_WvyyuqsHFrXnSumwFMuexFTY
FIREBASE_AUTH_DOMAIN=rankmi-development.firebaseapp.com
FIREBASE_PROJECT_ID=rankmi-172117
FIREBASE_DATABASE_URL=https://rankmi-development.firebaseio.com
FIREBASE_STORAGE_BUCKET=rankmi-172117.appspot.com
FIREBASE_MESSAGING_SENDER_ID=497525904370

# BEAMER
BEAMER_API_KEY=

# INTERCOM
INTERCOM_SECRET=W0E9QJrVsP5nQizDutjYwe3L_dotI4g3SziH9UXG
INTERCOM_API=ir66x61g

# AZURE
AZURE_AD_CLIENT_ID=119bb9f0-56fa-4da8-ace0-0091b04fab19
AZURE_AD_TENANT=eddbdc4f-796a-438a-93dd-fd1fbb5253de

# NOVU
NOVU_APP_ID=5afy5WHgOHM4

# RANKMI STREAM
DEBUG=False
RANKMI_STREAM_API=https://sandbox-rankmi-stream.rankmi.dev/api/v1
RANKMI_STREAM_WS_SERVER=ws://sandbox-rankmi-stream.rankmi.dev/ws
RANKMI_STREAM_SSE_URL=https://sandbox-rankmi-stream.rankmi.dev/sse

# CHAMELEON
CHAMELEON_KEY=SqsCW4hWGp1lYQy4KBx6urvhHlgk9j3RebxyD84cDk59AP-1PidN4-Ea3zr0iXHf30HlCL
CHAMELEON_SECRET=VUm6QlFO7IgE5Hwb0DCztEXq4Iof-1PidN4-Ea3zr0iXHf30HlCL

# MEETINGS
MEETINGS_URL=
MEETINGS_MICROSOFT_ID=
MEETINGS_MICROSOFT_AUTHORITY=
MEETINGS_MICROSOFT_REDIRECT_URI=
MEETINGS_SIGN_IN_URL=
MEETINGS_SIGN_UP_URL=
MEETINGS_NOTES_URL=
MEETINGS_NOTES_WEBSOCKET=
MEETINGS_EVENTS_WEBSOCKET=
MEETINGS_SIGN_IN_URL=
MEETINGS_SIGN_UP_URL=
MEETINGS_LAMBDA_URL=